
<section id="hero">
    <%= render "shared/nav" %>
    <div id="hero-info">
        <h1 class="hero-text">Vlad Joseph</h1>
        <h1 class ="hero-subtext">Front-end web developer</h1>
        <div>
            <button class="btn btn-custom-2" >resume</button>
            <a href= <%= pages_contactme_path%> class="btn btn-custom-2">Get in touch!</a>
        </div>
        <%# <div class="custom-shape-divider-bottom-1652303210">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div> %>
    </div>
    
    
    <div id="arrow">
        <div id="arrow1"></div>
        <div id="arrow2"></div>
        <div id="arrow3"></div>
    </div>

</section>

<section id="about">
    <p class="faded-text align-left"><</p>
    <h2 class = "section-head">About Me</h2> 
    <br>
    <h3>Hi! I'm Vladimir!</h3> 
    <p class="section-text">I’m a web developer based in Sunrise, Florida. 
     I aspire to create beautiful and modern 
    websites with user-centered design. 
    I would love to bring my passion to <span><em>your</em></span> team!</p>
    <p class="faded-text align-right" >/ ></p>
</section>

<section id="projects-section">
    <p class="faded-text-dark align-left"> < </p>

    <h2 class = "section-head">Projects</h2>
    
    <div class="projects-container">



        <div class="single-project">
            <h4 class="project-title">Keyman on Wheels</h4>
            <a id="project-2" class="project-image"  href = <%= projects_keyman_path%>>
                <p class ="project-overlay-cta-mobile mobile">Click for details...</p>
                <div class="img-overlay">
                    <h6 class="project-desc-text">A buisness Website created for Keyman on Wheels LLC.</h6>
                    <p class = "project-overlay-cta-large">Click for more detais!</p> 
                </div>
            </a>

            <div class="project-desc">
                <p class="project-desc-text mobile">A buisness Website created for Keyman on Wheels LLC.</p>
                <a href="https://github.com/CodeICEE/keymanonwheels" target="blank" class="btn btn-lg btn-custom-1">View Code</a>
            </div>
        </div>


        <div class="single-project">
            <h4 class="project-title">FAFSA Boss</h4>
            <a id="project-3" class="project-image"  href =<%= projects_fafsa_path%>>
                <p class ="project-overlay-cta-mobile mobile">Click for details...</p>
                <div class="img-overlay">
                    <h6 class="project-desc-text">A concept website for helping students with their FAFSA. Featuring CRUD functionality.</h6>
                    <p class = "project-overlay-cta-large">Click for more detais!</p> 
                </div>
            </a>

            <div class="project-desc">
                <p class="project-desc-text mobile">A concept website for helping students with their FAFSA. Featuring CRUD functionality.</p>
                <a href="https://github.com/CodeICEE/FAFSA-Like-a-Boss" target="blank" class="btn btn-lg btn-custom-1">View Code</a>
            </div>
        </div>

        <div class="single-project">
            <h4 class="project-title">My Portfolio</h4>
            <a id="project-1" class="project-image"  href = <%= projects_portfolio_path %>>
                <p class ="project-overlay-cta-mobile mobile">Tap for details...</p>
                <div class="img-overlay">
                    <h6 class="project-desc-text">This portfolio website. </h6>
                    <p class = "project-overlay-cta-large">Click for more detais!</p>
                </div>
            </a>

            <div class="project-desc">
                <p class="project-desc-text mobile">This portfolio website.</p>
                <a href="https://github.com/CodeICEE/Portfolio_New" target="blank" class="btn btn-lg btn-custom-1">View Code</a>
            </div>
        </div>

    </div>

    <p class="faded-text-dark align-right"> / > </p>
</section>

<section id="skills-section">
    <p class="faded-text align-left"> < </p>
    <h2 class = "section-head">Skills</h2>
    <div class="skills-container">
        <%= image_tag "skills-icons/HTML5_logo_and_wordmark.svg", alt: "logo icon for HTML5", class: "skill-logo" %>
        <%= image_tag "skills-icons/CSS3_logo_and_wordmark.svg", alt: "logo icon for CSS3", class: "skill-logo" %>
        <%= image_tag "skills-icons/Unofficial_JavaScript_logo_2.svg", alt: "logo icon for Javascript", class: "skill-logo" %>
        <%= image_tag "skills-icons/Git-logo-orange.svg", alt: "logo icon for git", class: "skill-logo" %>
        <%= image_tag "skills-icons/Github-desktop-logo-symbol.svg", alt: "logo icon for GitHub", class: "skill-logo" %>
        <%= image_tag "skills-icons/Ruby_logo.svg", alt: "logo icon for Ruby", class: "skill-logo" %>
        <%= image_tag "skills-icons/Ruby_On_Rails_Logo.svg", alt: "logo icon for Ruby on Rails", class: "skill-logo" %>
    </div>
    <p class="faded-text align-right"> / > </p>
</section>

<section id="contact">

</section>

