
<section id="hero">
    <%= render"shared/heronav" %>
    <div id="hero-info-container">
        <div id="hero-info">
            <h1 class="hero-text">Vladimir Joseph</h1>
            <h1 class ="hero-subtext">Front-End web developer</h1>
            <div id= "hero-buttons">
                <button class="btn btn-custom-2" >resume</button>
                <a href= <%= projects_show_path%> class="btn btn-custom-2">My Work</a>
            </div>
        </div>
        
    </div>
    <%# <div id="arrow">
        <div id="arrow1"></div>
        <div id="arrow2"></div>
    </div> %>
</section>

<section id="about-section">
    <p class="faded-text align-left"><</p>
    <h2 class = "section-head"> - About Me - </h2> 
    <br>
 
    <p class="section-text">I’m a web developer based in Sunrise, Florida. 
     I create beautiful and modern 
    websites with user-centered design. 
    <%# I would love to bring my passion to <span><em>your</em></span> team!</p> %>
    <p class="faded-text align-right" >/ ></p>

</section>

<section id="projects-section">

    <p class="faded-text-dark align-left"> < </p>

    <h2 class = "section-head"> - My Latest Work - </h2>
    
    <div class="projects-container">
        <div class="single-project">
            <h4 class="project-title">Mighty Locksmith LLC</h4>
            <a id="project-2" class="project-image"  href = <%= projects_mightylocksmith_path%>>
                <p class ="project-overlay-cta-mobile mobile">Tap for details...</p>
                <div class="img-overlay">
                    <h6 class="project-desc-text">A buisness Website created for Keyman on Wheels LLC.</h6>
                    <p class = "project-overlay-cta-large">Click for more detais!</p> 
                </div>
            </a>

            <div class="project-desc">
                <p class="project-desc-text mobile">A buisness Website created for Keyman on Wheels LLC.</p>
                <a href="https://github.com/CodeICEE/keymanonwheels" target="blank" class="btn btn-lg btn-custom-1">View Code</a>
            </div>
        </div>

        <div class="single-project">
            <h4 class="project-title">FAFSA Boss</h4>
            <a id="project-3" class="project-image"  href =<%= projects_fafsa_path%>>
                <p class ="project-overlay-cta-mobile mobile">Tap for details...</p>
                <div class="img-overlay">
                    <h6 class="project-desc-text">A concept website for helping students with their FAFSA. Featuring CRUD functionality.</h6>
                    <p class = "project-overlay-cta-large">Click for more detais!</p> 
                </div>
            </a>

            <div class="project-desc">
                <p class="project-desc-text mobile">A concept website for helping students with their FAFSA. Featuring CRUD functionality.</p>
                <a href="https://github.com/CodeICEE/FAFSA-Like-a-Boss" target="blank" class="btn btn-lg btn-custom-1">View Code</a>
            </div>
        </div>

        <div class="single-project">
            <h4 class="project-title">My Portfolio</h4>
            <a id="project-1" class="project-image"  href = <%= projects_portfolio_path %>>
                <p class ="project-overlay-cta-mobile mobile">Tap for details...</p>
                <div class="img-overlay">
                    <h6 class="project-desc-text">This portfolio website. </h6>
                    <p class = "project-overlay-cta-large">Click for more detais!</p>
                </div>
            </a>

            <div class="project-desc">
                <p class="project-desc-text mobile">This portfolio website.</p>
                <a href="https://github.com/CodeICEE/Portfolio_New" target="blank" class="btn btn-lg btn-custom-1">View Code</a>
            </div>
        </div>
    </div>

    <p class="faded-text-dark align-right"> / > </p>
    <br>

</section>

<section id="skills-section">
    <p class="faded-text align-left"> < </p>
    <h2 class = "section-head"> - Skills - </h2>
    <div class="skills-container">
        <%= image_tag "skills-icons/HTML5_logo_and_wordmark.svg", alt: "logo icon for HTML5", class: "skill-logo" %>
        <%= image_tag "skills-icons/CSS3_logo_and_wordmark.svg", alt: "logo icon for CSS3", class: "skill-logo" %>
        <%= image_tag "skills-icons/Unofficial_JavaScript_logo_2.svg", alt: "logo icon for Javascript", class: "skill-logo" %>
        <%= image_tag "skills-icons/Git-logo-orange.svg", alt: "logo icon for git", class: "skill-logo" %>
        <%= image_tag "skills-icons/Github-desktop-logo-symbol.svg", alt: "logo icon for GitHub", class: "skill-logo" %>
        <%= image_tag "skills-icons/WordPress_logo.svg", alt: "logo icon for WordPress", class: "skill-logo" %>
        <%= image_tag "skills-icons/Ruby_logo.svg", alt: "logo icon for Ruby", class: "skill-logo" %>
        <%= image_tag "skills-icons/Ruby_On_Rails_Logo.svg", alt: "logo icon for Ruby on Rails", class: "skill-logo" %>
        <%= image_tag "skills-icons/Affinity_Designer_Logo.svg", alt: "logo icon for Affinity Designer", class: "skill-logo" %>
        <%= image_tag "skills-icons/Photoshop_Logo.svg", alt: "logo icon for Photoshop", class: "skill-logo" %>
    </div>
    <p class="faded-text align-right"> / > </p>
</section>

<section id="contact">

</section>

