<!DOCTYPE html>
<html>
  <head>
    <title>Vladimir Joseph</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'app.js' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Oswald:wght@200;300;400;500;600;700&family=Rock+Salt&display=swap" rel="stylesheet"> 
  </head>

  <body>
    <div id="main">
        <%= yield %>
    </div>
    <%= render"shared/footer" %>
  </body>
</html>
